@import url('https://fonts.googleapis.com/css?family=Ubuntu|Open+Sans');

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
